<div>
  <div>
    <div class="container"></div>
  </div>
  <div class="footer-menu">
    <div class="container">
      <div class="navbar2">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-icons">
  <div class="container">
    <div class="copy-rights">
      <p>Eventhub © 2019 All Rights Reserved.</p>
    </div>
    <div class="social2">
      <ul>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/home']">
            <img src="Content/Client2/images/social1.png"
          /></a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/home']">
            <img src="Content/Client2/images/social2.png"
          /></a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/home']">
            <img src="Content/Client2/images/social3.png"
          /></a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/home']">
            <img src="Content/Client2/images/social4.png"
          /></a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-white"></div>
