<app-admin-bar></app-admin-bar>
<section id="content" class="animated fadeIn" style="margin-left:220px">

  <!--<div class="" id="">
 <div class="container">
     <div class="cp-inner-banner-outer">
         <h1>Ther are no venues</h1>
     </div>
 </div>-->



  <div class="col-md-6" *ngFor="let data of AllData">
    <div class="panel user-group-widget">
      <div class="panel-heading">
        <span class="panel-icon">
          <i class="fa fa-users"></i>
        </span>
        <span class="panel-title"> Recent User Activity</span>
      </div>
      <div class="panel-menu">
        <div class="input-group ">
          <div class="col-md-12">
            <label>Venue Name : {{data.hallName}}</label><br />
          </div>
        </div>
      </div>
      <div class="panel-body panel-scroller pn" style="max-height: 350px;">
        <div class="row">
          <div class="col-md-4">
            <img src="Content/Client2/images/why/w4.jpg" class="user-avatar">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">

            <h3><i class="fa fa-envelope"></i>{{data.hallEmail}}</h3>
            <h3><i class="fa fa-mobile-phone "></i> Mobile1</h3>
            <h3><i class="fa fa-address-book"></i> Address</h3>

          </div>
          <div class="col-md-6">
            <h3><i class="fa fa-money "></i> PerHeadPrice</h3>
            <h3><i class="fa fa-user-circle "> </i> UsersID</h3>
            <h3>Status : Status</h3>
          </div>
        </div>
      </div>
      <div class="panel-menu">
        <div class="input-group ">
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="col-md-6">
                <a href="../../Admin/VenueDetails?id=@item.EventID" class="btn btn-info">Detal</a>
              </div>
              <div class="col-md-6">

                <a class="btn-delete btn btn-danger" id="@item.EventID">Delete</a>



              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
 
</section>
<!-- End: Content -->
<!-- Begin: Page Footer -->
